@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');

@import 'icons.css';

@import 'logo.css';

@import 'bootstrap_menu.css';

@import 'sections.css';

@import 'biography.css';

/* @import 'menu.css'; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image:  url("images/main-img.jpg");
    background-position: 50% 4rem;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100vw;
    height: 100vh;
    width: auto;
}

h1, h2, h3, p {
    color: #ffffff;
    font-weight: 300;
    font-family: 'Source Sans Pro', sans-serif;
}

.wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.front-text01 {
    font-size: 3.5rem;
    letter-spacing: 0.45rem;
    /* padding: 2rem 2rem 0; */
    margin: 0;
}

.front-text02 {
    margin: 1rem 0 0;
    line-height: 2rem;
    font-size: 1.3rem;
}

.button {
    color: rgb(235, 233, 233);
    width: 16vw;
    height: 5vw;
    border-radius: 5vw;
    border: none;
    background-color: #059679;
    letter-spacing: 0.4vw;
    margin: 1.5rem;
}

.button:hover {
    background-color: #a70404ab;
}

.img {
    display: inline-block;
    padding: 5rem;
}

.service {
    display: inline-block;
    width: 45%;
    text-align: left;
    font-size: 1rem;
}

.service_01 {
    padding: 2rem;
    float: right;
}

.service h1 {
    padding: 1rem 0;
}

.service p{
    line-height: 1.5rem;
}

.service_02 {
    text-align: right;
    padding: 2rem;
    float: left;
}

.footer {
    width: 30rem;
    margin: 0 30% 2%;
}

.footer h1 {
    margin: 10% 0;
}

.footer p {
    margin-left: 1rem;
    text-align: left;
    line-height: 2rem; 
}

.footer a {
    color: #ffffff;
}

.infa_p {
    font-size: 0.75rem;
}

@media (max-width: 1000px) {
    .img {
        padding: 2rem;
    }
    .service {
        width: 50%;
    }
    .service_01 {
        padding: 2rem;
    }
    .service_02 {
        padding: 2em;
    }
}
@media (max-width: 920px) {
    body {
        /* background-size:  contain; */

    }
}

@media (max-width: 750px) {
    html {
        font-size: 12pt;
    }
    
    .front {
        position: relative;
    }
    
    .button {
        width: 40vw;
        height: 10vw;
        letter-spacing: 0.2em;    
    }
    
    .img {
        display: inline-block;
        padding: 0;
        margin-top: 0; 
    }
    
    .img_01,
    .img_02 {
        margin-top: 0;
        float: none;
        margin-left:  0;
        margin-right: 0;
        width: 300px;
        padding: 2rem;
    }
    
    .service {
        display: block;
        width: 80%;
        text-align: center;
        font-size: 1rem;
        margin: 0;
    }
    
    .service_01 {
        margin-right:  0;
        padding: 0;
        float: none;
        text-align: center;
        margin-left: 0;
    }
    
    .service_02 {
        padding: 0;
        float: none;
        text-align: center;
        margin-left: 0;
        margin: 4%;
    }
    
    .footer {
        width: 70%;
    }
    
    .footer h1 {
        padding:  0 ;
    }
    
    .infa_p {
        margin: 0 0 3rem
    }
    
}

@media(max-width:320px) {
    html {
        font-size: 10pt;
    }
    .img_01,
    .img_02 {
        width: 250px;
        padding: 2rem;
    }
    .header-left p {
        position: absolute;
        left: 70px;
        top: 28px;
    }

}