/* app */
@import url('https://fonts.googleapis.com/css?family=Philosopher:400,400i,700,700i&subset=cyrillic,cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext');

#head {
    height:         3rem;
    margin:         0;
    z-index:        0;
}

#logo, .header-left p {
    margin: 0;
    padding: 0;
}

.header-left p {
    position: absolute;
    left: 80px;
    top: 33px;
}

#logo span {
    color: #b30b1f;
}

#header {
    background-color:  rgb(92, 92, 92);
    position:       fixed;
    width:          100%;
    padding:        0;
    margin:         0;
    z-index:        9999;
}

.header-left {
    width: auto;
    height: 3rem;
    text-align: left;
    display: inline-block;
    padding:  0 20vw 0 0;
}

.header-left h2, .header-left p {
    color: #00fac8;
    font-family: 'Philosopher', sans-serif;

}
