.icons {
    list-style: none;
}

.icons li {
    display: inline-block;
}

.icons_1 svg{
    margin: 0 10px;
    fill: #00fac8;
    width: 30px;
    height: 30px;
}

.icons svg:hover {
    fill: rgb(172, 96, 96);
}

@media (max-width: 750px) {
    .icons_1 svg{
        margin: 0 5px;;
        width: 30px;
        height: 30px;
    }
}